[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.devnet]
d2d_program_sol = "A8tZEGdgV8hDjDWqsQQLiRo8fV6mGLshUNcm1KrByCHU"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run mocha -r ts-node/register tests/**/d2d-program-sol.ts"
